@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('./img1.avif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.header {
    position: fixed;
    width: 100%;
    padding: 10px;
    color: rgb(160, 160, 160);
    background: rgb(59, 59, 59);
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:1200px;
}
label {
    display: flex;
    flex-direction: column;
}
/* _____________________ADD_POST__________________________ */
.post-form {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 70px;

    padding-bottom: 40px;
}
.blog {
    font-weight: 500;
    margin-bottom: 20px;
}

.new-post, .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:600px
}
input,textarea {
    padding: 5px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    margin: 6px 0 16px 0;
    outline:none;
    opacity: 0.4;

}
input:focus,textarea:focus {
    opacity: 1;
}
.content {
    height: 60px;
}
.btn {
    padding: 8px 10px;
    color:white;
    background: rgb(52, 69, 255);
    align-self:start;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.btn:active {
    background: rgb(0, 10, 122);
}
.btn:active:disabled,
.btn:disabled {
    background: rgb(106, 118, 255);;
    color: black
}
/* _____________________POSTS__________________________ */
.posts  {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(250, 250, 250, 0.9);
}
.post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(213, 226, 222, 0.8);
    margin-bottom: 5px;
    padding: 20px 60px;
    
}
.post-header {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
    /* text-decoration:  underline; */

}
.post-text {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(73, 73, 73);
    padding: 20px;
}
.show-comments, .string-btn {
    font-size: 16px;
    align-self: end;
    text-decoration: none;
    color:rgb(107, 107, 107);
    border: none;
    background: inherit;
    cursor:pointer;
}
/* _____________________COMMENTS__________________________ */
.comments {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: flex-end;
}
.hidden {
    
    display: none;
}
.comments-header {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

.comment {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    padding: 0px 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.delete-comment {
    font-size: 12px;
    margin-top: -5px;
    color:rgb(138, 138, 138);
    cursor:pointer;
}
.comments-list {
    margin-bottom: 20px;
}
.comments-form {
    width: 100%;
}
.comments-button {
    background: rgb(129, 129, 129);
    cursor: pointer;
}
.comments-button:disabled,
.comments-button:active:disabled{
    background: rgb(224, 224, 224);
    color:black;
}
.comments-button:active {
    background: rgb(168, 168, 168);
    color:rgb(204, 204, 204);
}

.hide-comments {
    color:rgb(46, 46, 46);
}